<section id="myquestions">
    <h2>Νέα ερώτηση</h2>

    <%= render 'form' %>

    <%= sanitize textilize ('Μια *απλή* παράγραφος με _πλάγια γραμματοσειρά_ και ένα "link":http://redcloth.org') %>
    <%= sanitize CodeRay.highlight("Εδώ οι χαρακτήρες του κειμένου είναι χρώματος λευκού σε μαύρο φόντο!", :ruby, :css => :class) %>
</section>
